:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --lato-font: 'Lato', sans-serif;
    --permanent-marker-font: 'Permanent Marker', cursive;
    --merriweather-font: 'Merriweather', serif;
    --protest-strike-font: 'Protest Strike', cursive;
    --protest-guerilla-font: 'Protest Guerilla', cursive;
    --open-sans-font: 'Open Sans', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --protest-riot-font: 'Protest Riot', cursive;
    --lora-font: 'Lora', serif;
    --primary-color: #485025;
    --header-secondary-color: #9c9f7c;
    --hero-color: #f8f1e5;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--lato-font);
}

h1 {
    font-size: 3rem;
    font-family: var(--lora-font);
}

h2 {
    font-size: 2rem;
    font-family: var(--lora-font);
}

header>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* nav ul {
    list-style: none;
    text-align: center;

}

nav li {
    display: inline-block;
} */
nav {
    margin-top: 1rem;
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e5c6;
    padding: 0.4rem 0.4rem;
    height: 10vh;
    list-style: none;
    /* width: 10rem; */
    margin: 0 auto
}

nav ul li {
    margin: 0 10px;
    text-decoration: none;

}

nav ul li a {
    text-decoration: none;
    color: var(--header-secondary-color);
}

nav ul li a:hover {
    color: var(--primary-color);
}




.hero-section {
    /*min-height: 60vh;*/
    background-color: var(--hero-color);
    display: flex;
    /* max-height: 60vh; */
}


.hero-image {
    display: flex;
    flex: 1;
    justify-content: center;
}

.hero-image img {
    transition: transform 1s;
}

.hero-image img:hover {
    transform: scale(1.2)
        /*rotateY(180deg);*/
    ;
    transition: transform 1s;

}


.hero-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1% 1%;
    margin: 5% 5%;

}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 5% 0;
}

.service-icon {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 0.8rem;
    color: #e8e5c6
}


/* Animate services to move across the row in a circular fashion from left to right infinitely*/
.service {
    animation: move 5s infinite;
}


.business-name {
    font-family: var(--lora-font);
    font-size: 4rem;
    color: black;
}

.business-description {
    font-family: var(--lato-font);
    width: 60%;
    /* color: #aba79b */
    color: gray;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


.shop-button {
    background-color: var(--primary-color);
    color: #e8e5c6;
    padding: 0.6rem 0.6rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;

}

.shop-button:hover {
    background-color: #9c9f7c;
    color: var(--primary-color);
    font-weight: bold;
}



section {
    display: flex;
    flex-wrap: wrap;
}


article {
    flex: 1;
}

.plants-section {
    margin: 0.5rem 0.5rem;
}

.plants-section article {
    width: 2rem;
    margin: 0.2rem 0.2rem;
    background-color: whitesmoke;
    border-radius: 0.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.2rem;

}

.plants-section article h2 {
    font-family: var(--lato-font);
    color: var(--primary-color);
}

.plants-section article p {
    font-family: var(--lato-font);
    color: gray;
    text-align: center;

}

.more-button {
    background-color: whitesmoke;
    color: var(--primary-color);
    padding: 0.5rem 0.5rem;
    border-color: var(--primary-color);
    border-radius: 0.4rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 6rem;

}

.more-button:hover {
    background-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    color: whitesmoke;
}



footer {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0.5rem;
}

.copyright {
    font-family: var(--lato-font);
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



/*Responsive design for the hero section*/
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
    }

    .hero-image img {
        width: 100%;
    }

    .hero-text {
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services {
        width: 80%;
    }

    .business-name {
        font-size: 3rem;
        /* font-weight: bold; */
    }
}